<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIjlTJqUMCS4E--FoOQcKEzHsFjwJaXBo</string>
	<key>GCM_SENDER_ID</key>
	<string>946708919265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tmdb.lkr</string>
	<key>PROJECT_ID</key>
	<string>themoviedatabase-855f5</string>
	<key>STORAGE_BUCKET</key>
	<string>themoviedatabase-855f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946708919265:ios:40d500c00b3f0abe8f18a0</string>
</dict>
</plist>